
;File name             ;Location of File              ;Comment

vmeio_news             /usr/local/drivers/vmeio/test/ ;News about VMEIO software/hardware
e                      /usr/local/bin/                ;RAND Editor
vi                     /bin/                          ;VI Editor
nedit                  /usr/bin/X11/                  ;NEDIT X-Window Editor
emacs                  /usr/local/bin/                ;EMACS Editor
gnuplot                /usr/bin/                      ;X11 Plot program
MIL1553.regs           ./                             ;Register descriptors
